- name: Setup MSVC
        uses: microsoft/setup-msbuild@v2

      # Додаємо цей крок, щоб WAF точно бачив інструменти MSVC (cl.exe, link.exe)
      - name: Setup MSVC Dev Cmd
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure and Build with Waf
        env:
          # Змінюємо синтаксис дефайнів під GCC, якщо він все одно вибере його, 
          # але пріоритет ставимо на MSVC
          CL: "/DTIER0_DLL_EXPORT /DVSTDLIB_DLL_EXPORT /D_WINDOWS /DWIN32"
          LINK: "/SUBSYSTEM:WINDOWS,10.0"
        run: |
          # Додаємо явну перевірку тільки msvc
          python waf configure -T release --build-games=hl2 --sdl2=SDL2 `
          --check-c-compiler=msvc --check-cxx-compiler=msvc
          
          python waf build -p
