- name: Configure WAF for Portal
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        if exist build rd /s /q build
        python waf configure -T release --build-games=portal --sdl2=SDL2 --msvc_targets="x64"

    - name: Compile Client and Server DLLs
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        set CFLAGS=/DTIER0_DLL_EXPORT /DVSTDLIB_DLL_EXPORT /D_WINDOWS /DWIN32 /D_CRT_SECURE_NO_WARNINGS
        set CXXFLAGS=/DTIER0_DLL_EXPORT /DVSTDLIB_DLL_EXPORT /D_WINDOWS /DWIN32 /D_CRT_SECURE_NO_WARNINGS
        set LDFLAGS=/SUBSYSTEM:WINDOWS,10.0
        python waf build --targets=client,server -p

    - name: Upload Portal DLLs
      uses: actions/upload-artifact@v4
      with:
        name: portal-dlls
        path: |
          build/**/client.dll
          build/**/server.dll
